@use './../../../styles/_main/color' as *;

.input {
    width: 100%;
    height: 36px;
    padding: 5px 15px;
    box-sizing: border-box;
    border: 1px solid $darkShade25;
    border-radius: 6px;
    font-family: 'Montserrat';
    font-size: 14px;
    color: $darkShade75;

    &:hover,
    &:focus {
        border-color: $darkShade75;
        outline: none;
    }
}